COMPOSE_PROJECT_NAME=telegram-storage

APP_PORT=3000
SERVICE_NAME=telegram-storage

API_BASIC_AUTH_USER=admin
API_BASIC_AUTH_PASSWORD=changeme_api_basic_secret

TELEGRAM_BOT_TOKEN=1234567890:AA_fakeReplaceWithBotFatherToken
TELEGRAM_STORAGE_CHAT_ID=-1001234567890

MAX_UPLOAD_MB=50

REDIS_HOST=redis
REDIS_PORT=6379

MYSQL_HOST=mysql
MYSQL_PORT=3306
MYSQL_USER=telegram_storage
MYSQL_PASSWORD=changeme_app_password
MYSQL_DATABASE=telegram_storage
MYSQL_ROOT_PASSWORD=changeme_root_password

TYPEORM_SYNCHRONIZE=true
